/* navbar fixed at top
have to use @media
use flexbox */

/* General settings */

html {
  box-sizing: border-box;
  scroll-padding-top: 70px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  line-height: 1.5rem;
  font-family: Roboto, sans-serif;
  background-color: #f1f1f1;
}

/* Typography */

h2 {
  font-size: 1.5rem;
  margin-top: 1em;
  color: #78244c;
}

.our-products {
  font-size: 2rem;
  margin-bottom: 0.5em;
  padding-top: 2em;
}

/* Navbar */

.nav-bar {
  background-color: #59253a;
  box-shadow: 0px 0px 5px 3px rgba(63, 63, 63, 0.212);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}

.company-info {
  display: flex;
  align-items: center;
  padding: 1em;
}

.company-info__logo {
  max-width: 40px;
  color: #f1f1f1 !important;
  opacity: 0.9;
}

.company-info__name {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.4em;
}

/* Navbar: hamburger menu */

.nav-bar label,
#hamburger {
  display: none;
}

.hamburger-menu__item {
  list-style-type: none;
  display: inline-block;
}

.nav-link {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 2em 0 0;
}

/* Hero */

.hero {
  background-color: rgba(41, 0, 12, 0.5) !important;
  color: #f1f1f1;
  width: 100%;
  padding: 8em 0;
  background-image: url(images/sax-river-street-jazz-cafe.jpg);
  background-blend-mode: color;
  background-size: cover;
  background-position: center;
}

.hero-content {
  width: 80%;
  margin: 0 auto;
}

.hero-content__text {
  width: 70%;
  max-width: 900px;
}

.hero h1 {
  font-size: 2.5rem;
  line-height: 1em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.hero p {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Main content */

main {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}

.left-col {
  margin-top: 2em;
  padding-top: 1em;
  text-align: center;
}

.left-col p {
  margin-top: 2em;
}

.right-col {
  margin-top: 2em;
}

.iframe-container {
  /* matches size of 16:9 video, 9 divided by sixteen equals the number below */
  padding-top: 56.25%;
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 2px rgba(63, 63, 63, 0.137);
}

iframe {
  display: block;
  position: absolute;
  border-radius: 5px;
  width: 100%;
  top: 0;
  height: 100%;
}

/* Price Grid */

.price-grid {
  padding-top: 2em;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
}

.card {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 50% 50%;
  background-color: #fff;
  border-radius: 5px;
  padding: 2em;
  box-shadow: 0px 0px 5px 2px rgba(63, 63, 63, 0.137);
  position: relative;
}

.card:hover::before {
  content: "";
  border-top: 3px solid #78244c;
  width: 100%;
  position: absolute;
}

.card__img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  grid-column: 1/3;
}

.card h3 {
  color: #78244c;
}

.card__btn {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #59253a;
  border: none;
  align-self: center;
  justify-self: end;
  font-size: 0.8rem;
  padding: 1em 1.5em;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(63, 63, 63, 0.137);
  transition: all 200ms ease-in-out;
  position: relative;
}

.card__btn:hover {
  cursor: pointer;
  background-color: rgba(94, 45, 64, 0.918);
}

/* footer */

.footer {
  margin-top: 2em;
  background-color: #59253a;
  color: #f1f1f1;
  box-shadow: 0px 0px 5px 2px rgba(63, 63, 63, 0.137);
}

.three-col {
  padding: 1em;
  width: 90%;
  margin: 0 auto;
}

.three-col--margin {
  margin: 2em 0;
}

.footer h3 {
  font-size: 1.2rem;
  margin: 1em 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.newsl-container {
  display: flex;
}

#email {
  font-family: Roboto, sans-serif;
  display: inline-block;
  width: 80%;
  text-align: center;
  border: none;
}

.form-btn {
  border: none;
}

.form-btn__content {
  font-family: Roboto, sans-serif;
  padding: 0.2em 0.5em;
  background-color: #f1f1f1;
  border: none;
  color: #59253a;
  font-size: 2em;
  transition: all 200ms ease-out;
}

.form-btn__content:hover {
  background-color: #3574af;
  color: #f1f1f1;
}

.icon-container .icon {
  font-size: 1.5rem;
  padding-right: 1.02em;
  margin-bottom: 1em;
}

.icon:hover {
  opacity: 0.4;
  cursor: pointer;
}

.page-author {
  padding-bottom: 2em;
  text-align: center;
}

.page-author a {
  position: relative;
}

.page-author a::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid white;
  transform: scale(0, 1);
  transition: all 200ms ease-in-out;
}

.page-author a:hover::after {
  transform: scale(1, 1);
}

/* Small screens */

@media screen and (max-width: 650px) {
  html {
    scroll-padding-top: 300px;
  }

  .nav-bar {
    display: grid;
    grid-template-columns: 9fr 1fr;
  }

  .grid-two {
    justify-self: end;
  }

  .grid-three {
    grid-column: 1/3;
  }

  .nav-bar label {
    display: block;
    margin: 0 auto;
    background-color: #f1f1f1;
    color: #59253a;
    font-size: 1.5rem;
    padding: 1em;
  }

  .hamburger-menu__item {
    display: block;
    padding: 1.5em 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.13);
    transition: all 0.5s ease-out;
  }
  .hamburger-menu__item:hover {
    background-color: #5e2d40;
  }
  .hamburger-menu {
    display: none;
  }

  .nav-bar input:checked ~ .hamburger-menu {
    display: block;
  }

  .nav-link {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }
  .left-col {
    width: 50%;
    max-width: 450px;
    text-align: left;
  }
  .right-col {
    width: 45%;
    align-self: center;
    justify-self: end;
  }

  .about-us,
  .newsletter {
    width: 30%;
  }

  .social {
    width: 20%;
  }
}
